<!-- Always show the word for the round -->
<div class="current_round"><h2>Round #<%= @game.rounds.count %></h2></div>
<div class="word"><h2><%= @game.rounds.last.word.name %></h2></div>

<!-- If not all of the players have guessed yet -->

<% if @game.rounds.last.definitions.count < (@game.players.count + 1) %>

<!-- But this player has guessed-->
<!-- Show them a spinning wheel while they wait -->

<% if @game.rounds.last.guessed_players.include?(@current_player) %>
<i class="fa fa-refresh fa-spin fa-5x"></i>

<!-- Or if this player hasn't guessed yet -->
<!-- Let them guess -->

<% else %>
<div class="def_input">
	<form method="post" action="<%= definitions_path %>">
		<input type="text" name="content" id="player_def">
		<input type="hidden" name="round_id" value="<%= @game.rounds.last.id %>">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<button type="submit" id="player_def_submit">Submit</button>
	</form>
</div>
<% end %>

<!-- If all the players have guessed -->
<% elsif @game.rounds.last.guessed_players.count == @game.players.count && @game.rounds.last.picks.count < @game.players.count %>

<!-- But this player has already picked -->
<% if @game.rounds.last.picked_players.include?(@current_player) %>

<!-- Show them a spinning wheel  -->


<i class="fa fa-refresh fa-spin fa-5x"></i>


<!-- But if this player hasn't picked yet -->
<% else %>
<!-- Let this player pick one of the definitions -->



<h2>Select the correct definition below</h2>
<hr>

<% @game.rounds.last.definitions.shuffle.each do |definition| %>
<form method="post" action="<%= picks_path %>">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
	<input type="hidden" name="definition_id" value="<%= definition.id %>">
	<button type="submit" id="submit_<%= definition.id %>">
		<%= definition.content %></button>
	</form>
	<% end %>
<% end %>

	<!-- If all the players have picked -->
	<!-- Show what happened -->

	<% elsif @game.rounds.last.picks.count >= @game.players.count %>
	<h4>The correct definition is:</h4>
	<h2><%= @game.rounds.last.word.definition %></h2>
	<ul>
		<% @game.rounds.last.picks.each do |pick|  %>
		<!-- If the definition that this user picked WAS created by a player -->
		<% if pick.definition.player %>
		<li><%= pick.player.user.name %> picked <%= pick.definition.content %>, <%= pick.definition.player.user.name %>'s answer! </li>

		<!-- If the definition that this user picked WAS NOT created by a player -->
		<!-- it was the correct definition -->
		<% else %>
		<li><%= pick.player.user.name %> picked the right definition!</li>
		<% end %>
		<% end %>
	</ul>

	<!-- Start Next Round -->
	<% if @game.rounds.count < 7 %>

	<form method="post" action="<%= rounds_path %>">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<input type="hidden" name="game_id" value="<%= @game.id %>">
		<button type="submit" id="submit">Next Round</button>
	</form>

	<% elsif @game.rounds.count == 7 %>
		<form action="<%= game_complete_path(@game) %>">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<button type="submit" id="submit">Complete Game</button>
	</form>
	<% end %>
	<% end %>