<!-- Always show the word and current round -->
<div class="current_round">
	<h2 id="round-count">Round #<%= @game.rounds.count %></h2>
</div>

<div class="word">
	<h1 class="ribbon">
   <strong class="ribbon-content"><%= @game.rounds.last.word.name %></strong>
</h1>
</div>

<!-- If not all of the players have guessed yet -->


<!-- If this player hasn't submitted yet -->
<!-- Let them submit -->
<% if @current_round.picked_players.include?(@current_player) == false %>

	<% if @current_round.submitted_players.include?(@current_player) == false %>

		<div class="def_input">
			<form method="post" action="<%= definitions_path %>">
				<input id="inputdef" type="text" name="content" id="player_def" placeholder="Guess the def!" autocomplete="off">
				<input type="hidden" name="round_id" value="<%= @game.rounds.last.id %>">
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
				<br>
				<button class="btn btn-primary" type="submit" id="player_def_submit">Submit</button>
			</form>
			<p class="sidenote">Deffffinitely, brah!</p>
		</div>
	
	<% else %>

	


<!-- Or if this player has submitted -->
<!-- Show them a spinning wheel while they wait -->
		<i id="whirlybird2" class="fa fa-cog fa-spin fa-5x"></i>
<!-- And the definitions appear on the screen one by one  -->
		<div id="pick-list">
						
						<!-- THEN FLIP OVER -->
						<!-- JAVASCRIPT RENDERS HERE -->
						<!-- AND THE USER CAN PICK-->
						<% if @current_round.all_submitted? %>
						<div id="define-me!"></div>
						<% end %>

		</div>


	<% end  %>
<% end  %>


<!-- if this player has picked -->
<!-- Show them a spinning wheel while they wait -->


<% if @current_round.picked_players.include?(@current_player) && @current_round.picked_players.count < @game.players.count %>
			<i id="whirlybird3" class="fa fa-cog fa-spin fa-5x"></i>

<% end %>
	<!-- If all the players have picked -->
	<!-- Show what happened -->
	
	<% if @game.rounds.last.picks.count >= @game.players.count %>
	<h4>The correct definition is:</h4>
	<h2><%= @game.rounds.last.word.definition %></h2>
	<ul class="list-unstyled">
		<% @game.rounds.last.picks.each do |pick|  %>

		<!-- If the definition that this user picked WAS created by a player -->

		<% if pick.definition.player %>
		<li><%= pick.player.user.name %> picked <%= pick.definition.content %>, <%= pick.definition.player.user.name %>'s answer! </li>

		<!-- If the definition that this user picked WAS NOT created by a player -->
		<!-- it was the correct definition -->

		<% else %>
		<li><%= pick.player.user.name %> picked the right definition!</li>
		<% end %>
		<% end %>
	</ul>

	<!-- Start Next Round -->

	<% if @game.rounds.count < 7 %>

		<form method="post" action="<%= rounds_path %>">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
			<input type="hidden" name="game_id" value="<%= @game.id %>">
			<button class="btn btn-primary btn-lg" type="submit" id="submit">Next Round</button>
		</form>

	<% elsif @game.rounds.count == 7 %>
		<form action="<%= game_win_path(@game) %>">
    	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
			<button class="btn btn-primary btn-lg"  type="submit" id="submit">Complete Game</button>
		</form>
		
	<% end %>
<% end %>

