<!-- the current user created this game --> 
<% if @game.players.empty? == false %>
<% if current_user == @game.players.first.user %>
  <form action="/games/<%= @game.id %>/start" method="post">
    <input type="hidden" name="_method" value="put" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <button class="btn btn-primary" type="submit" id="start_game">Start Game</button>
  </form>
  <% end %>
  <% end %>
<!-- the current has joined this game --> 

<% if @game.users.include?(current_user) %>
  <i id="whirlybird1" class="fa fa-cog fa-spin fa-5x"></i>
 <p>Waiting for game to start</p>
<!-- the current hasn't joined this game yet --> 

<% else %>
  <form action="<%= players_path %>" method="post">
    <input type="hidden" name="game_id" value="<%= @game.id %>" />
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <button class="btn btn-primary btn-lg" type="submit" id="join_game">Join Game</button>
  </form>
<% end %>

