<h1>BALDERDASH</h1>
<p>[bôl′dər-dăsh′] n.
1. senseless, stupid, or exaggerated talk or writing; nonsense.</p>
<!--How to play slideout-->
<div id="slideout">
  <h4 id='tab'>How to Play</h4>
  <div id="slideout_inner">
    <ol>
    	<li>Create a game or join someone else's.</li>
    	<li>The person who opened the game starts it when their friends have joined.</li>
    	<li>We give you a random word, make up the most believable definition you can.</li>
    	<li>When all definitions are submitted we will show them along with the real one.</li>
    	<li>Vote for the one you think is the correct. No cheating!</li>
    	<li>You get a point for every vote your definition gets and two points for guessing the correct definition</li>
    	<li>Whoever has the most points after seven rounds wins!</li>
    </ol>
  </div>
</div>

<!-- Show all of the games -->
<ul id="roomView" class="list-unstyled">
	<% @games.each do |game| %>
  	<% if game.in_session == false %>
  	 <li><a class="game-room" id="<%= game.id %>" href="<%= game_path(game) %>"><%= game.players.first.user.name %>'s Game Room</a></li>
  	<% end %>
	<% end %>
</ul>
<!-- SAllow users to create a new game -->
<form method="post" action="<%= games_path %>">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<button type="submit" class="btn btn-primary">Create a Game</button>
</form>