<h1>BALDERDASH</h1>
<p>[bôl′dər-dăsh′] n.
1. senseless, stupid, or exaggerated talk or writing; nonsense.</p>

<!-- Show all of the games -->
<ul id="roomView" class="list-unstyled">
	<% @games.each do |game| %>
  	<% if game.in_session == false %>
  	 <li><a class="game-room" id="<%= game.id %>" href="<%= game_path(game) %>"><%= game.players.first.user.name %>'s Game Room</a></li>
  	<% end %>
	<% end %>
</ul>
<!-- SAllow users to create a new game -->
<form method="post" action="<%= games_path %>">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<button type="submit" class="btn btn-primary">Create a Game</button>
</form>