<!DOCTYPE html>
<html>
<head>
  <script> 
    var user = <%= current_user.to_json(only: [:name, :id]).html_safe %>
  </script>
  <link rel="shortcut icon" href="/favicon.ico/"/>
  <title>Balderdash</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
		<h3>Welcome <%= current_user.name %></h3>
	<% else %>

	<% end %>
  <div class="container">
	 <p class="notice"><%= notice %></p>
	 <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% else %>
   <% end %>

  <%= yield %>

  </div>
</body>
</html>
